@responsive {
  /* Desktop */
  .tg-h1-desktop {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 40px;
  }

  .tg-h2-desktop {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 40px;
  }

  .tg-h3-desktop {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }

  .tg-body-desktop {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
  }

  .tg-body-emphasis-desktop {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }

  .tg-caption-desktop {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }

  .tg-caption-bold-desktop {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  .tg-tab-title-desktop {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 20px;
  }

  .tg-color-label-desktop {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  /* Mobile */
  .tg-h1-mobile {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }

  .tg-h2-mobile {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }

  .tg-h3-mobile {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }

  .tg-body-mobile {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .tg-body-emphasis-mobile {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .tg-tab-title-mobile {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  .tg-caption-mobile {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .tg-caption-bold-mobile {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .tg-color-label-mobile {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  /* Print */
  .tg-caps-title-print {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .tg-large-title-print {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }

  .tg-body-print {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }

  .tg-body-emphasis-print {
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 140%;
  }

  .tg-title-print {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
  }
}

@responsive {
  .bg-primary {
    &.em-high,
    .em-high {
      opacity: 0.84;
    }

    &.em-medium,
    .em-medium {
      opacity: 0.54;
    }

    &.em-disabled,
    .em-disabled {
      opacity: 0.38;
    }

    &.em-low,
    .em-low {
      opacity: 0.18;
    }
  }

  .bg-secondary {
    &.em-high,
    .em-high {
      opacity: 0.9;
    }

    &.em-medium,
    .em-medium {
      opacity: 0.54;
    }

    &.em-disabled,
    .em-disabled {
      opacity: 0.38;
    }
  }

  .bg-background {
    &.em-high,
    .em-high {
      opacity: 0.84;
    }

    &.em-medium,
    .em-medium {
      opacity: 0.54;
    }

    &.em-disabled,
    .em-disabled {
      opacity: 0.38;
    }

    &.em-low,
    .em-low {
      opacity: 0.12;
    }
  }

  .bg-surface {
    &.em-high,
    .em-high {
      opacity: 0.84;
    }

    &.em-medium,
    .em-medium {
      opacity: 0.54;
    }

    &.em-disabled,
    .em-disabled {
      opacity: 0.38;
    }
  }

  .em-error {
    opacity: 0.87;
  }

  /* divider ?? */
}
